body {
    font-family: sans-serif;
}

h1 {
    display: inline-block;
    color: purple;
    font-weight: 300;
    margin: 0 32px 0 0;
}

.links {
    display: inline-block;
}

.links li {
    display: inline-block;
}

.links a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 8px;
    margin-left: 8px;
}

.navbar {
    margin: 35px;
}

a.active {
    text-decoration: underline;
}
.card{
    width: 40%;
    display: inline-block;
    padding: 20px;
}

.card img {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Jobbra és alul árnyék
    5px 5px: Az árnyék eltolása (x és y irányban).
    10px: Az árnyék elmosása (homályosság).
    rgba(0, 0, 0, 0.3): Az árnyék színe (fekete, 30% átlátszóság). */
}



.card h2 {
    display: inline-block;
}